@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --container-bg: #ecf0f1;
    --content-bg: #ffff;
    --content-before-bg: blueviolet;
    --title-primary-color: white;
    --title-second-color: blueviolet;
    --description-primary-color: white;
    --description-second-color: #7f8c8d;
    --btn-color: white;
    --btn-primary-bg: transparent;
    --btn-primary-border: 1px solid white;
    --btn-primary-hover-bg: white;
    --btn-primary-hover-color: blueviolet;
    --btn-second-bg: blueviolet;
    --btn-second-border: 1px solid blueviolet;
    --btn-second-hover-bg: white;
    --btn-second-hover-border: 1px solid blueviolet;
    --btn-second-hover-color: blueviolet;
    --link-social-media-hover-bg: blueviolet; 
    --link-social-media-hover-border: blueviolet;
}
.dark-mode:root{
    --container-bg: rgba(0, 0, 0, 0.589);
    --content-bg: black;
    --content-before-bg: rgb(56, 4, 104);
    --title-primary-color: white;
    --title-second-color: white;
    --description-primary-color: white;
    --description-second-color: white;
    --btn-color: rgb(56, 4, 104);
    --btn-primary-bg: white;
    --btn-primary-border: 1px solid white;
    --btn-primary-hover-bg: rgb(56, 4, 104);
    --btn-primary-hover-color: white;
    --btn-second-bg: white;
    --btn-second-border: 1px solid blueviolet;
    --btn-second-hover-bg: rgb(56, 4, 104);
    --btn-second-hover-border: 1px solid blueviolet;
    --btn-second-hover-color: white;
    --link-social-media-hover-bg: rgb(75, 10, 136);
    --link-social-media-hover-border: rgb(56, 4, 104);
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--container-bg);
}
.content{
    background-color: var(--content-bg);
    border-radius: 15px;
    width: 960px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before{
    content: "";
    position: absolute;
    background-color: var(--content-before-bg);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary{
    color: var(--title-primary-color);
}
.title-second{
    color: var(--title-second-color);
}
.description{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary{
    color: var(--description-primary-color);
}
.description-second{
    color: var(--description-second-color);
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: var(--btn-color);
    font-size: 10px;
    padding: 10px 50px;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0px;
    margin-top: 1rem;
    cursor: pointer;
}
.btn-primary{
    background-color: var(--btn-primary-bg);
    border: var(--btn-primary-border);
}
.btn-primary:hover{
    background-color: var(--btn-primary-hover-bg);
    color: var(--btn-primary-hover-color);
}
.btn-second{
    background-color: var(--btn-second-bg);
    border: var(--btn-second-border);
}
.btn-second:hover{
    background-color: var(--btn-second-hover-bg);
    border: var(--btn-second-hover-border);
    color: var(--btn-second-hover-color);
}
.first-content{
    display: flex;
}
.first-column{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}
.second-column{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media {
    margin: 1rem 0;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media:hover .item-social-media{
    background-color: var(--link-social-media-hover-bg);
    color: white;
    border-color: var(--link-social-media-hover-border);
}
.list-social-media{
    display: flex;
    list-style-type: none;
}
.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}

.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input{
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    margin: 8px;
    width: 100%;
}
.label-input {
    border-radius: 15px;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify{
    color: #7f8c8d;
    padding: 0 5px;
}
.second-content{
    position: absolute;
    display: none;
}
input[type="checkbox"]{
    width: 50px;
    height: 20px;
    appearance: none;
    background-color: #ecf0f1;
    border-radius: 50px;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0,0.24);
    cursor: pointer;
    transition: .4s;
    position: relative;
}
input:checked[type="checkbox"]{
    background-color: rgb(56, 4, 104);
}
input[type="checkbox"]:before{
    content: '';
    width: 20px;
    height: 20px;
    background-color: rgba(175, 175, 175, 0.856);
    border-radius: 50px;
    position: absolute;
    box-shadow: 0px, 4px, 8px, 1px, rgba(0, 0, 0,0.24);
    transform: scale(1.1);
    top: 0;
    left: 0;
    transition: .4s;
}
input:checked[type="checkbox"]:before{
    left: 30px;
}